 .one {
    text-decoration: none;
   
   } 
   .one:nth-last-of-type(n+2){
      
       border-right: 2px solid red;
   }
   .one:hover { 
   transition:all 1s ease-in-out;
    border-bottom: 3px solid blue; 
    border-right:2px solid white;
   } 
   