.one{
    padding: 15px 10px 15px 20px;
    background: #00BCD4;
    margin-bottom:25px;
    margin-right: 1000px;
}
.two{
    padding: 30px 30px 40px 45px;
    background: #AADDDD;
    margin: 50px 50px 50px 50px
}